<mat-toolbar>
    <span>About us</span>
</mat-toolbar>
<div class="main-content">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>WTXHub</mat-card-title>
            <mat-card-subtitle>The next generation of technology for the Food & Beverage Industry</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                WTX Hub creates an entire blockchain based eco-system for the Food & Beverage industry with a purely peer to peer product exchange that facilitates online exchange of goods and services from one party to another without having to go through a third party.
                Also the crypto currency, WTXH, shall facilitate transactions, act as a quantifiable means of exchange and accurately define the criterion of the required exchange of items. A key part of the WTX Hub is our game changing blockchain distribution and retail technology and our consumer focused App. The eco-system is completed by a comprehensive social and community functionality along with tailor-made blockchain provenance authenticity and smart contract technology. Access WTX Hub and see into the window to the future of the Food & Beverage industry
            </p>


                <mat-chip>One fish</mat-chip>
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>

        </mat-card-content>
    </mat-card>
</div>