.sidenav-brand {
    text-align: center;
    margin: 0;
    padding: 20px 2px;
    color:#eba612;
}

.sidenav-link span.title{
    color: #3c4858;
    margin-left: 15px;
}

.sidenav-link .mat-icon{
    color: #6e7480;
}
.main-side-nav-list.mat-nav-list {
    padding-top: 0px !important;
}

/* Highlighting rules for nav menu items */
.main-side-nav-list a.link-active,
.main-side-nav-list a.link-active:hover,
.main-side-nav-list a.link-active:focus {
    font-weight: bold;
    background-color: #270c86;
    color: white !important;
    margin: 2px 15px;
    border-radius: 2px;
    box-shadow: 0 11px 44px rgba(0,0,0,0.30), 0 4px 6px rgba(0,0,0,0.22);
}

.main-side-nav-list a.link-active *,
.main-side-nav-list a.link-active:hover *,
.main-side-nav-list a.link-active:focus *{
    color: white !important;
    padding: 0 5px !important;
}

.mat-list-item *{
    padding: 0 15px !important;
}

.mat-divider {
    margin-bottom: 20px;
}