<mat-nav-list class="main-side-nav-list">
    <h3 mat-list-item class="sidenav-brand" >
        <img src="../../../dist/images/icon.png" height="30" width="30"/>
        <span class="title" mat-line>WTXHub</span>
    </h3>
    <mat-divider></mat-divider>
    <a mat-list-item class="sidenav-link" [routerLink]="['/home']" role="button" [routerLinkActive]="['link-active']">
        <mat-icon>dashboard</mat-icon>
        <span class="title">Dashboard</span>
    </a>
    <a mat-list-item class="sidenav-link" [routerLink]="['/about']" role="button" [routerLinkActive]="['link-active']">
        <mat-icon>info</mat-icon>
        <span class="title">About us</span>
    </a>
    <a mat-list-item class="sidenav-link" (click)="logoutHandler()" role="button" [routerLinkActive]="['link-active']">
        <mat-icon>exit_to_app</mat-icon>
        <span class="title">Logout</span>
    </a>
</mat-nav-list>